name: e2e testing

on: 
  workflow_dispatch:
    inputs:
      tags:
        description: "End-to-End Test Run"

jobs:
  end-to-end:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: rht-labs/lodestar-frontend
      - name: end-to-end test
        uses: cypress-io/github-action@v2
        with:
          record: true
          browser: chrome
          headless: true
          config: baseUrl=${{ secrets.CYPRESS_BASE_URL }}
          env: SSO_URL=${{ secrets.CYPRESS_SSO_URL }},SSO_USER=${{ secrets.CYPRESS_SSO_USER }},SSO_PASSWORD=${{ secrets.CYPRESS_SSO_PASSWORD}},SSO_CLIENT_ID=${{ secrets.CYPRESS_SSO_CLIENT_ID }}
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
